<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="helloWorld" class="org.learn.HelloWorld" autowire="byName">
        <property name="helloMain" ref="helloBroon"> </property>


<!--        <property name="helloRobert" ref="helloRobert1"> </property>-->

<!--        <constructor-arg ref="helloRobert1" />-->

<!--        <property name="age" value="20"> </property>-->
<!--        <property name="salary" value="89000"> </property>-->

<!--        <constructor-arg index="0" name="age" value="19"> </constructor-arg>-->
<!--        <constructor-arg index="1" name="salary" value="89000000" > </constructor-arg>-->
    </bean>

    <bean id="helloBroon" class="org.learn.HelloBroon"> </bean>

    <bean id="helloRobert" class="org.learn.HelloRobert"> </bean>

    <!-- If you mention multiple times, it will create an object multiple times -->
<!--    <bean id="helloRobert2" class="org.learn.HelloRobert"> </bean>-->

</beans>